@using Blazorise.Components;
@using System.ComponentModel.DataAnnotations;

<head>
    <link rel="stylesheet" href="css/composants/authentification/FormulaireConnexion.css" />
</head>

<div class="connexion-container">

    <h1 class="title-spacing"> Se connecter</h1>


    <Validations @ref="Validations" Mode="ValidationMode.Manual" Model="Requete">

        <div class="field-container">
            <Validation>
                <Field Horizontal>
                    <FieldLabel ColumnSize="ColumnSize.Is2">Pseudo</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is10">
                        <TextEdit Placeholder="Entrez votre pseudo" @bind-Text="@Requete.Nom">
                            <Feedback>
                                <ValidationError />
                            </Feedback>
                        </TextEdit>
                    </FieldBody>
                </Field>
            </Validation>
        </div>

        <div class="field-container">
            <Validation>
                <Field Horizontal>
                    <FieldLabel ColumnSize="ColumnSize.Is2">Mot de passe</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is10">
                        <TextEdit Placeholder="Entrez votre mot de passe" @bind-Text="@Requete.MotDePasse">
                            <Feedback>
                                <ValidationError />
                            </Feedback>
                        </TextEdit>
                    </FieldBody>
                </Field>
            </Validation>
        </div>

        <div class="btn-container">
            <Button Class="btn-se-connecter" Clicked="@OnSubmit">Se connecter</Button>
            <Button Class="btn-s-inscrire" Clicked="@OnSubmit">S'inscrire</Button>
        </div>


        <label class="text-danger">@Erreur</label>

    </Validations>

</div>
